/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2020, 10:58:01
    Author     : ALU820372
*/


.divCalculo{
    width: 300px;
    height: 150px;
    background: #ddd;
    border: solid 1px blue;
    padding: 10px;
        
}

#botao{
    border: solid 2px black;
    border-radius: 0px 20px;
    
}

hr{
    color: blueviolet;
    background-color: pink;
    height: 10px;
}